:root {
  --circle-color: #1E2837;
  --bg-color: #172030;
  --text-color: #E5E7EB;

  --circle-size: 100px;
}

body, #app {
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  padding: 0;
  border: 0;
  color: var(--text-color);
}

body {
  background-color: var(--bg-color);
}

#app {
  background-color: var(--circle-color);
}

.hint {
  position: fixed;
}

dialog {
  background-color: var(--card-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 5px;
  outline: none;
}

dialog::focus {
  outline: none;
}

dialog::backdrop {
  background: var(--bg-color);
}

dialog button {
  border: none;
  outline: none;
  background: transparent;
  color: var(--text-color);
  text-decoration: underline;
  float: right;
  cursor: pointer;
}

dialog button::focus {
  outline: none;
}

